<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="BackendOrganizationManagement.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    

</head>
<body>
     <h2>Hello World</h2>
    <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
</body>
</html>
